body{
  background-color: #ecf5bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.top{
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px;
}

h1{
  font-size: 56px;
  font-weight: 700; 
  color: #75B79E;
}

.content{
  width: 80%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card{
  background-color: #A7E9AF;
  width: 117px;
  height: 146px;

  border: 1px solid #99CEA8;
  border-radius: 5px;

  margin: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card img{
  width: 100px;
}

.turned{
  transition: transform 0.8s;
	transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.front{
  position: absolute;
  backface-visibility: hidden;
}

.back{
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}